@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 10px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3498db;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
}

header h1 {
    font-family: 'Lora', serif;
    color: white;
    font-size: 2em;
}

nav {
    background-color: #2c3e50;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #34495e;
}

main {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Lora', serif;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.5em;
}

#card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.card {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    margin-bottom:20px;
}

.card h3 {
    font-family: 'Lora', serif;
    color: #3498db;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.card a {
    text-align: center;
    display: block;
}

ul {
    list-style-type: none;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
}

footer {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    font-size: 0.9em;
}